@model Coffee_Shop.Models.Item
@{
    ViewBag.Title = "ItemInfo";
}

<h2>ItemInfo</h2>

<form name="UpdateItem" action="/Home/ItemInfo" method="post">
    <input id="Name" type="text" name="Name" value="@Html.DisplayFor(model => model.Name)"/> <br /> <br />
    <input id="Description" type="text" name="Description" value="@Html.DisplayFor(model => model.Description)" /> <br /> <br />
    <input id="Quantity" type="text" name="Quantity" value="@Html.DisplayFor(model => model.Quantity)"/> <br /> <br />
    <input id="Price" type="text" name="Price" value="@Html.DisplayFor(model => model.Price)"/> <br /> <br />
    <input type="submit" value="Save" />
</form>